body {
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size: 100%;
    color: white;
    /* to leave space for the nav bar */
    padding-top: 8vh; 
    text-align: center;
	line-height: 150%;
    max-width: 1024px;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

#nav {
	background-color: #ffffff;
    font-family: 'Kreon';
	position: fixed;
    display: flex;
	z-index: 9999; /* put in front of everything */
	width: 100%;
    max-width: 1024px;
    margin: auto;
    height: 8vh;
	top: 0px;
}

#section1 a { /* book a table button */
    display: inline-block;
    margin-top: 3vh;
    border-radius: 0.25em;
	background-color: rgba(0, 0, 0, 0.79);
	border: 2px solid #ffffff;
	padding: 1em 2em 1em 2em;
}

#nav ul {
    display: flex; 
    align-items: center;
    flex: 1;
}

#nav li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#contbtns ul {
    display: flex; 
    align-items: center;
    flex: 1;
}

#contbtns li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#nav li a {
	color: black;
    font-size: 3vh;
}

#logo img {
	position: relative;
    top: 3vh;
    width: 3em;
}

#section1 {
	background: url('../images/header.jpg')  center no-repeat;
	background-size: cover;
	height: 25vh;
    padding-top: 15vh;
}

h1 {
    width: 100%;
	background-color: black;
    font-size: 3.5vh;
    padding: 0.5em 0em;
}

h2 {
   display:absolute;
   font-size: 2em;
    text-align: center;
    padding-bottom: 1em;
}

h3 {
	font-size: 1.6em;
	text-align: center;
    padding: 0.5em;
}



.transparent-section{
    padding: 5% 15% 5% 15%;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    height: 50%;
    background: url('../images/small1.jpg') no-repeat center/ cover fixed ;
}

.gray-section {
	background-color: #504040;
}

.gray-section h3 {
    padding-top: 3em;
    padding-bottom: 1.5em;
    font-weight: 700;
}

.upcoming-event {
	width: 33.3333333333%;
	float: left;
}

.past-event {
	width: 25%;
	float: left;
}

a[href="#event"] {
	display: inline-block;
	padding-bottom: 7%;
	width: 100%;
}

a[href="#event"] h3 {
    font-weight: 100;
    padding: 0.5em;
}

a[href="#event"] p {
    font-size: 1.1em;
    color: white;
}

a[href="#inner"] {
	color: #ececec;
}

.imgdiv{
	display: inline-block;
	width: 10em;
	height: 10em;
	overflow: hidden;
	border: 1px solid #aaaaaa;
	margin-bottom: 15%;
}

.upcoming-event p {
	width: 95%;
	padding-left: 2%;
    word-spacing: 0.1em;
	color: #bfbfbf;
}

#upcomingevents, #pastevents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imgdiv2{
	display: inline-block;
	width: 5em;
	height: 5em;
	overflow: hidden;
	border: 1px solid #aaaaaa;
	margin-bottom: 15%
}

#cmorebutton {
    color: white;
    background-color: black;
    width: 11em;
    height: 3.7em;
    margin: 4em;
    border-radius: 0.25em;
}

.continfo {
	width: 90%;
	height: 2.5em;
	padding-left: 4%;
	background-color: #efefef;
	border-radius: 0.25em;
	border: 1px solid #dedede;
}

#namediv {
	width: 50%;
	float: left;
	text-align: left;
}

#emaildiv {
	width: 50%;
	float: left;
	text-align: right;
}

#info {
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 5%;
}

#message {
    width: 97.5%;
    height: 15em;
    padding-left: 2%;
    padding-top: 2%;
    background-color: #efefef;
    border-radius: 0.25em;
    border: 1px solid #dedede;
}

#messagediv {
    padding-left: 18%;
    padding-right: 18%;
}

#send {
    background-color: #333333;
    color: white;
    width: 100%;
    height: 3.3em;
    border-radius: 0.25em;
    border: 0px;
}

#sendbtn {
    text-align: left;
    width: 18%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    margin-right: 1%;
}

#clear {
    background-color: white;
    color: gray;
    width: 100%;
    height: 3.3em;
    border-radius: 0.25em;
    border: 1px solid #dedede;
}

#clearbtn {
    text-align: right;
    width: 18%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    margin-left: 1%;
}

#booking {
    text-align: center;
    background-image: url("../images/book-table.jpg");
    background-size: cover;
     background-attachment: fixed;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 1.5%;
}

#bookinner {
    background: rgba(0,0,0,0.6);
    height: 100%;
}

h2[id="book-head"] {
    color: white;
    padding-bottom: 5%;
    padding-top: 5%;
}

.lbdiv {
    width: 45%;
    float: left;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 3%;
}

.rbdiv {
    width: 45%;
    float: left;
    text-align: right;
    margin-bottom: 3%;
}

.binfo {
    padding-left: 4%;
    border-radius: 0.25em;
    height: 2.5em;
    width: 90%;
    border: 1px solid #dedede;
}

#bmessagediv {
	padding-left: 5%;
	width: 90%;
	text-align: left;
}

#bmessage {
    width: 97%;
    border-radius: 0.25em;
    padding-left: 2%;
    padding-top: 2%;
    height: 15em;
    border: 1px solid #dedede;
}

#bookbtn {
    background-color: #555555;
    width: 11em;
    height: 4em;
    color: white;
    border-radius: 0.25em;
    border: 0px;
}

#bform {
    padding-bottom: 3%;
}

.white-section{
    background-color: #ffffff;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgb(144, 140, 140);
    text-align: center;
    clear: both;
    line-height: 2em;
}

.textLeft{
    width: 30%;
    background-color: rgb(68, 51,51);
    padding: 5%;
}

.textLeft h3{
    display:absolute;
    text-align: center;
    font-size: 130%;
    color: white;
    padding-top: 20%;
    padding-bottom: 10%;
}

.textLeft h2{
    text-align: center;
    font-size: 100%;
    color: white;
    padding-bottom: 5%;
}

.textLeft p{
    text-align: justify;
    color: white;
    line-height: 150%;
}

.menu_button{
    margin-top: 5vh;
    width: 70%;
    padding: 0% 15%;
}

.menu_button .button{
    display: block;
    text-align: center;
    width: 100%;
    padding: 5% 0%;
    background: rgb(68,51,51);
    border-radius: 0.25em;
}

.menu_button .button:hover{
    background-color: rgba(54,85,41,0.4);
}

.button_word{
    color: white;
    font-size: 120%;
}

.ImageRight{
    width: 60%;
    background-color: rgb(68, 51,51);
    padding-top: 7%;
   	display: flex;
   	flex-direction: row;
   	flex-wrap: wrap;
    padding-bottom: 5%;
    font-size: 110%;
}


.menu-table{
    display: flex;
    flex-direction: row;
    width: 100%;
	background-color: rgb(68,51,51);
}

.ImageRight .description{
  padding: 2% 0% 2% 4%;
  position: relative;
  top: -30%;
  width: 96%;
  background: black;
  text-align: left;
  opacity: 0.8;
  font-size: 0.8em;
}

.ImageRight .description .caption{
  color: white;
  border-bottom: 1px dashed #999;
  text-decoration: none;
}
.ImageRight .forimage{
	width: 100%;
	border-radius: 0.25em;
	position: relative;
}

.imageBlock{
	position: relative;
	width: 40%;
    padding: 0.7em;
    
}


#footerl {
    margin-top: 5em;
    margin-left: 15%;
    float: left;
}

#footerr {
    margin-top: 5em;
    margin-right: 15%;
    float: right;
}

#author ul{
    display: flex;
    flex-direction: row;
    margin-top: 35em;
    color: #adadad;
    width: 100%;
    font-size: 0.6em;
    margin-bottom: 0.5em;
}

#author li {
    width: 50vw;
}


@media screen and (min-width: 768px) and (max-width: 1023px){
   .menu-table{
		display: flex;
		flex-direction: row;
	}
    
   .ImageRight{
   	    display: flex;
   	    flex-direction: row;
   	    flex-wrap: wrap;
   }
    
    #info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 1em;
    }

    #booking {
        padding-left: 22%;
        padding-right: 22%;
    }
    
    #footerl, #footerr {
        font-size: 0.9em;
    }
    
}

@media screen and (min-width: 480px) and (max-width: 767px){
	.menu-table{
		display: flex;
		flex-direction: row;
	}
	.textLeft{
		/*float: none;*/
        display: flex;
        flex-direction: column;
		width: 100%;
        padding: 5%;
	}
    
    
    .textLeft h3{
        margin-top: 70%;
    }
    .textLeft h2{
        height: 5%;
    }
    
    .textLeft p{
        height: 15%;
        word-spacing: 0.3em;
        line-height: 2em;
        text-align: justify;
        
    }
    
    .menu_button{
        width: 70%;
        padding: 20% 15%;
        
    }
	.ImageRight{
		width: 100%;
	}

	.imageBlock{
		/*float: none;*/
		width: 80%;
		padding-left: 11%;
		padding-right: 10%;
	}
    
    #upcomingevents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .upcoming-event {
        margin: auto;
        width: 80%;
        padding: 0% 10%;
        margin-bottom: 1em;
    }

    a[href="#event"] {
        margin: auto;
        padding-bottom: 1em;
    }

    #pastevents {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .imgdiv, .imgdiv2 {
        margin: auto;
    }

    .past-event {
        margin: auto;
        width: 50%;
        padding-top: 1.5em;
    }

    .gray-section { margin-bottom: 5em; }

    #info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 5%;
    }

    #messagediv {
        padding-left: 5%;
        padding-right: 5%;
    }

    #contbtns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 2em;
    }

    #sendbtn, #clearbtn {
        text-align: center;
        width: 50%;
        margin: auto;
    }

    #clearbtn { margin-top: 1.4em; }

    #booking {
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 5em;
    }

    .bdiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #book-head { padding: 10%; }

    .lbdiv, .rbdiv {
        width: auto;
        text-align: center;
        padding: 5%;
        margin-bottom: 1em;
    }

    #footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 0vh;
    }

    #footerl, #footerr {
        margin: auto;
        margin-bottom: 2em;
        padding: auto;
        width: auto;
        font-size: 80%;
    }

    #author {
        margin-top: -25em;
        margin-bottom: 1em;
    }

}

@media only screen and (max-width: 479px){
	.menu-table{
		display: flex;
		flex-direction: column;
	}
	.textLeft{
		/*float: none;*/
		width: 100%;
		padding-left: 0%;
		padding-bottom: 16%;
	}
	.textLeft p{
		padding-left: 10%;
		padding-right: 10%;
	}
    .menu_button{
        margin-top: 10%;
        width: 70%;
        padding: 0% 15%;
    }
	.ImageRight{
		width: 100%;
	}
	.imageBlock{
		/*float: none;*/
		width: 80%;
		padding: 0% 10%;
	}
    
    /* for the navbar */
    #nav ul {
        padding-top: 1vh;
        flex-direction: row;
        display: flex; 
    }
    
    #nav {
        height: 12vh;
    }
    
    body {
        padding-top: 12vh;
    }
    
    #logo {
        order: -1;
        margin-top: -5vh;
    }
    
    #logo img {
        width: 3em;
    }
    
    #nav li a {
    font-size: 2vh;
    }
    
    /* end navbar */
    
        #upcomingevents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .upcoming-event {
        margin: auto;
        width: 100%;
        margin-bottom: 1em;
    }

    #pastevents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .imgdiv, .imgdiv2 {
        margin: auto;
    }

    .past-event {
        margin: auto;
        width: 100%;
        padding-top: 1.5em;
    }

    .gray-section { margin-bottom: 5em; }

    #info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 5%;
    }

    #namediv {
        width: 100%;
        text-align: center;
    }

    #emaildiv {
        margin-top: 1.4em;
        width: 100%;
        text-align: center;
    }

    #messagediv {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    #contbtns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 2em;
    }

    #sendbtn, #clearbtn {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    #clearbtn { margin-top: 1.4em; }

    #booking {
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 5em;
    }

    .bdiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #book-head { padding: 10%; }

    .lbdiv, .rbdiv {
        width: auto;
        text-align: center;
        padding: 5%;
        margin-bottom: 1em;
    }

    #footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #footerl, #footerr {
        margin: auto;
        margin-bottom: 2em;
        padding: auto;
        width: auto;
        font-size: 80%;
    }

    #author {
        margin-top: -25em;
        margin-bottom: 1em;
    }
}
