body{
    background-color:#575353;
    zoom:0.5;
}

.topbox{
    margin-left:auto;
    margin-right:auto;
    /*background:#DADADA;
    border-style:solid;
    border-width:4px;*/
    margin-top:10px;
    width:400px
}

.topbox button{
    display:block; 
    width:200px;
    height:40px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}

.topboxGal{
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-width:0px;
}

.topboxGal button{
    display:block; 
    width:125px;
    height:100px;
    margin: -5px 10px 20px;
    border-style:solid;
    border-width:1px;
    border-color:#363636;
    background-color:#1079A3;
}

.screen {
    width:1px;
    height:1px;
    background:#DADADA;
    border-style:solid;
    border-width:4px; 
    margin-top:10px;
    overflow:hidden;
    -moz-transform:scale(0.5);
}

#main-screen{
    background:#DADADA;
    border:0px;
}

#navbar-title{
 background:#1079A3;
    padding-top:5px;
}

#navbar-title h3{
    color:#FFFFFF   
}

#nav-menu{
    background:#1079A3;
    border:0px;
    color:white;  
}

#menu-icons{
    padding-top:20px;   
}

#replace-screen{
    background:#dadada;
    border:0px;
}

.foto-background{
    border:0px;
    position:relative;
}

.transparent-grey{
background: -moz-linear-gradient(top, rgba(214,217,219,0.6) 0%, rgba(214,217,219,0.2) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,217,219,0.6)), color-stop(100%,rgba(214,217,219,0.2))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(214,217,219,0.6) 0%,rgba(214,217,219,0.2) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(214,217,219,0.6) 0%,rgba(214,217,219,0.2) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(214,217,219,0.6) 0%,rgba(214,217,219,0.2) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(214,217,219,0.6) 0%,rgba(214,217,219,0.2) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d6d9db', endColorstr='#33d6d9db',GradientType=0 ); /* IE6-9 */

}

.trans-btn{
background-color: rgba(214,217,219, 0.6);

}

.stuff
{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}


.i-transparent-grey{
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(114,117,119,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(114,117,119,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(114,117,119,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(114,117,119,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(114,117,119,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(114,117,119,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80727577',GradientType=0 ); /* IE6-9 */   
}



.top-transparent-blue{
    background: -moz-linear-gradient(top, rgba(16,121,163,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,121,163,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(16,121,163,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(16,121,163,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(16,121,163,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(16,121,163,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1079a3', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */   
}

.horizontal-pic{
    width:260px;height:260px;padding-left:10px;padding-right:5px;padding-bottom:20px;padding-top:5px
}
.vertical-pic{
    width:280px;height:240px;padding-left:20px;padding-right:10px;padding-bottom:5px;padding-top:0px
}

.map-pic {
    position:absolute;height:40px;width:40px;position:absolute;z-index:3
}

.user-map-pic {
    position:absolute;height:40px;width:40px;position:absolute;z-index:3
}

.horizontal-loc-pic{
width:265px;height:265px;padding-left:10px;padding-right:5px;padding-bottom:20px;margin-top:-30px;
}
.horizontal-sel-pic{
width:265px;height:265px;padding-left:10px;padding-right:5px;padding-bottom:20px;margin-top:-30px;
}
.horizontal-loc-img{
}

.new-slider {
  background: #333344;
}
.new-slider .dragdealer {
overflow: hidden;
}
.new-slider .handle {
  width: 200%;
}
.new-slider .slide-text {
left: 50%;
width: 50%;
color: #9999aa;
}

.slide-to-unlock {
  position: relative;
  width: 400px;
  height: 80px;
}
.slide-to-unlock .dragdealer {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
border-radius: 0;
background: none;
height: auto;
}
.slide-to-unlock .handle {
  height: 100%;
  border-radius: 0;
}
.slide-to-unlock .disabled {
  background: none;
}
.slide-to-unlock .slide-text {
  position: absolute;
  top: 0;
  height: 80px;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
}

.old-slider {
  border-radius: 16px;
  background: #222;
  background-image: -webkit-linear-gradient(top, #111 0%, #333 100%);
  background-image: -moz-linear-gradient(top, #111 0%, #333 100%);
  background-image: -o-linear-gradient(top, #111 0%, #333 100%);
  background-image: linear-gradient(to bottom, #111 0%, #333 100%);
}
.old-slider .dragdealer {
top: 5px;
bottom: 5px;
left: 5px;
right: 5px;
}
.old-slider .slide-text {
  right: 0;
  width: 290px;
  height: 70px;
  color: #999;
  line-height: 70px;
  cursor: default;
}
.old-slider .handle {
  width: 100px;
  border-radius: 12px;
  background: #ccc;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #aaa 100%);
  background-image: -moz-linear-gradient(top, #f1f1f1 0%, #aaa 100%);
  background-image: -o-linear-gradient(top, #f1f1f1 0%, #aaa 100%);
  background-image: linear-gradient(to bottom, #f1f1f1 0%, #aaa 100%);
}

.cursor-move {
    cursor: move;
}

.cursor-swipe {
    cursor: url('../img/swipe-cursor-both.png') 15 0, ew-resize;
}

.cursor-ptr {
    cursor: pointer;
}

.cursor-help {
    cursor: help;
}

.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x,
.icon-stack-3x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.icon-stack-1x {
  line-height: inherit;
}
.icon-stack-2x {
    top:0.15em;
  font-size: 1.5em;
}
.icon-stack-3x {
  font-size: 2em;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.btn-share{
    border-radius:15px;   
}

.map-pic{
    width: 7%;
    height: 230%; 
}

#user{
    width: 7%;
    height: 230%; 
}

.bck-nav-cam{
    background:#763a35;
}

.bck-nav-nav{
    background:#4e5830;
}

.bck-nav-som{
    background:#5d4626;
}

.bck-nav-friends{
    background:#482933;
}